In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("car.csv")
df.head(5)

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,0,MINI,Cooper S Base,2007,213000,Gasoline,172.0HP 1.6L 4 Cylinder Engine Gasoline Fuel,A/T,Yellow,Gray,None reported,Yes,4200
1,1,Lincoln,LS V8,2002,143250,Gasoline,252.0HP 3.9L 8 Cylinder Engine Gasoline Fuel,A/T,Silver,Beige,At least 1 accident or damage reported,Yes,4999
2,2,Chevrolet,Silverado 2500 LT,2002,136731,E85 Flex Fuel,320.0HP 5.3L 8 Cylinder Engine Flex Fuel Capab...,A/T,Blue,Gray,None reported,Yes,13900
3,3,Genesis,G90 5.0 Ultimate,2017,19500,Gasoline,420.0HP 5.0L 8 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,Black,Black,None reported,Yes,45000
4,4,Mercedes-Benz,Metris Base,2021,7388,Gasoline,208.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,7-Speed A/T,Black,Beige,None reported,Yes,97500

In [3]:
df["engine_hp"] = df["engine"].str.split(" ").str[0]

In [4]:
df["engine_hp"] = df["engine"].str.extract(r"(\d+\.?\d*)HP").astype("float")

In [5]:
df["disp"] = df["engine"].str.extract(r"(\d+\.?\d*)L").astype("float")

In [6]:
df["cylinder"] = df["engine"].str.split("Cylinder").str[0].str.strip().str.split(" ").str[-1]

In [7]:
col = ['Turbo', 'System', 'DOHC', 'OHV',
       'Standard', 'Hybrid', 'Fuel', 'Electric', 'Liter', 'TFSI',
       'Supercharged', 'Diesel', 'â€“', 'L/406', 'SOHC',
       'Battery', 'GTDI', 'L/122', '4.0L', 'ULEV', 'I4', '2.5L',
       'TSI', 'T/C', '3.0L', 'AH', '(697V)', 'Motors']

In [8]:
for i in col:
    df["cylinder"] = df["cylinder"].str.replace(i,"other")

In [9]:
df["cylinder"].value_counts()

cylinder
8        52588
V6       49441
other    37600
4        29051
6        16984
12        1266
10         698
5          627
3          147
16V        103
V8          28
Name: count, dtype: int64

In [10]:
df.isna().sum()

id                  0
brand               0
model               0
model_year          0
milage              0
fuel_type        5083
engine              0
transmission        0
ext_col             0
int_col             0
accident         2452
clean_title     21419
price               0
engine_hp       33259
disp            14214
cylinder            0
dtype: int64

In [16]:
df["transmission"].replace(
    {
        "8-Speed Automatic": "8 Automatic",
        "8-SPEED AT": "8 Automatic",
        "8-SPEED Automatic": "8 Automatic",
        "8-Speed Automatic with Auto-Shift": "8 Automatic",
        "6-Speed Automatic": "6 Automatic",
        "6-Speed Automatic with Auto-Shift": "6 Automatic",
        "6-Speed Electronically Controlled Automatic with O": "6 Automatic",
        "6 Speed At/Mt": "6 Automatic",
        "6-Speed Manual": "6 Manual",
        "6-Speed": "6 Manual",
        "6 Speed Mt": "6 Manual",
        "7-Speed Automatic": "7 Automatic",
        "7-Speed Automatic with Auto-Shift": "7 Automatic",
        "7-Speed DCT Automatic": "7 Automatic",
        "10-Speed Automatic": "10 Automatic",
        "10-Speed Automatic with Overdrive": "10 Automatic",
        "9-Speed Automatic": "9 Automatic",
        "9-Speed Automatic with Auto-Shift": "9 Automatic",
        "5-Speed Automatic": "5 Automatic",
        "4-Speed Automatic": "4 Automatic",
        "5-Speed Manual": "5 Manual",
        "1-Speed Automatic": "1 Automatic",
        "CVT Transmission": "Automatic",
        "Automatic CVT": "Automatic",
        "CVT-F": "Automatic",
        "7-Speed Manual": "7 Manual",
        "2-Speed Automatic": "2 Automatic",
        "2": "2 Manual",
        "8-Speed Manual": "8 Manual",
        "Transmission w/Dual Shift Mode": "Automatic",
        "â€“": "Other",
        "Variable": "Automatic",
        "Transmission Overdrive Switch": "Automatic",
        "Single-Speed Fixed Gear": "Other",
        "SCHEDULED FOR OR IN PRODUCTION": "Other",
        "F": "Other",
        "7-Speed": "7 Manual",
    }
)

df["transmission"].value_counts()

transmission
A/T             49904
Automatic       33002
8-Speed A/T     20645
6-Speed A/T     18044
6-Speed M/T     11998
7-Speed A/T     11124
8 Automatic      8993
10-Speed A/T     8044
9-Speed A/T      3866
5-Speed A/T      3217
10 Automatic     3204
6 Automatic      2961
4-Speed A/T      2546
5-Speed M/T      2409
9 Automatic      2358
1-Speed A/T      1869
7 Automatic      1368
M/T              1179
1 Automatic       365
7-Speed M/T       355
6 Manual          275
7 Manual          180
Other             174
5 Automatic       159
2 Manual           91
2-Speed A/T        71
4 Automatic        48
8 Manual           28
Manual             27
2 Automatic        22
8-SPEED A/T         7
Name: count, dtype: int64